@model int
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row pt-5 mt-5">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-white">Total de Usuários</div>
            <div class="card-body bg-white">
                <h1 style="color:grey">@Model</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-white">Dados Mockados 1</div>
            <div class="card-body bg-white">
                <h1 style="color:grey">1234</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header bg-white">Dados Mockados 2</div>
            <div class="card-body bg-white">
                <h1 style="color:grey">5678</h1>
            </div>
        </div>
    </div>
</div>